HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### macOS ###
.DS_Store

### Java/Maven ###
*.class

# Ignorer les logs
logs/
logs/**
*.log
GenioService_temp/logs/
GenioService_temp/logs/**

# Ignorer les fichiers DOCX générés
output/
*.docx

# Exclure le modèle de convention
!src/main/resources/conventionServices/modeleConvention_2024.docx

### Fichiers de configuration Spring Boot ###
src/main/resources/application.properties
!src/test/resources/application.properties

# Ignorer le vrai fichier de config externe dans utils
/utils/application-external.properties

# vrac
.test-output
.data
.mvn