<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <!-- Définition repertoire de log du serveur d'application -->
        <Property name="LOGS_BASE_REP" value="logs"/>
        <!-- Définition des répertoires de logs spécifique à l'application -->
        <!-- TODO : modifier avec le nom de votre application. -->
        <Property name="LOGS_APP_REP" value="${LOGS_BASE_REP}/prod"/>
        <!--<Property name="LOGS_APP_REP" value="${LOGS_BASE_REP}/dev"/> -->
        <!-- TODO : modifier avec l'environnement voulu (INT/REC/PROD) -->
        <Property name="ENVIRONNEMENT" value="PROD"/>
        <!-- NOTE : Ce fichier correspond à la configuration du module Métier -->
        <Property name="APPLICATION" value="GENIO"/>
        <!-- Pattern -->
        <!-- Formatage Exception -->
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xwEx</Property>
        <!-- Niveau de log -->
        <Property name="LOG_LEVEL_PATTERN">%5p</Property>
        <!-- Horodatage -->
        <Property name="LOG_DATEFORMAT_PATTERN">yyyy-MM-dd HH:mm:ss.SSS</Property>
        <!-- Mode console -->
        <Property name="CONSOLE_LOG_PATTERN">%clr{%d{${sys:LOG_DATEFORMAT_PATTERN}}{GMT+1}}{faint} %clr{[CONS]}{yellow} %clr{[$${env:APPLICATION}]}{cyan} %clr{${sys:LOG_LEVEL_PATTERN}} %clr{%pid}{magenta} %clr{---}{faint} %clr{[%15.15t]}{faint} %clr{%-40.40c{1.}}{blue} %clr{:}{faint} %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
        <!-- Mode fichier -->
        <Property name="FILE_LOG_PATTERN">%d{${LOG_DATEFORMAT_PATTERN}}{GMT+1} [$${env:ENVIRONNEMENT}] [${env:APPLICATION}] ${LOG_LEVEL_PATTERN} %pid --- [%t] %-40.40c{1.} : %m%n${sys:LOG_EXCEPTION_CONVERSION_WORD}</Property>
    </Properties>

    <!-- Les loggers -->
    <Appenders>
        <!-- logger par default sur la console STDOUT -->
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${sys:CONSOLE_LOG_PATTERN}" disableAnsi="false"/>
        </Console>

        <!-- application.log : toutes les logs -->
        <RollingFile name="application-file" fileName="${LOGS_APP_REP}/application.log"
                     filePattern="${LOGS_APP_REP}/application-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout pattern="${sys:FILE_LOG_PATTERN}" disableAnsi="true"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="3" compressionLevel="9">
                <Delete basePath="${LOGS_APP_REP}" maxDepth="2">
                    <IfFileName glob="*/*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

        <!-- error.log : toutes les traces des traitements en erreur -->
        <RollingFile name="error-file" fileName="${LOGS_APP_REP}/error.log"
                     filePattern="${LOGS_APP_REP}/error-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout pattern="${sys:FILE_LOG_PATTERN}" disableAnsi="true"/>
            <Policies>
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy size="5 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy max="3" compressionLevel="9">
                <Delete basePath="${LOGS_APP_REP}" maxDepth="2">
                    <IfFileName glob="*/*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <!-- Logger applicatif -->
    <Loggers>
        <!-- Permet de tracer ce qui vient de springframework vers application.log -->
        <Logger name="org.springframework" level="info"/>

        <!-- Permet de tracer tout ce qui vient de mon application vers applicaton.log -->
        <Logger name="com.genio" level="info"/>


        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="application-file"/>
            <AppenderRef ref="error-file" level="error"/>
        </Root>
    </Loggers>
</Configuration>



